/* #8A71C0 #2D2768 #FB3640 #EBEAEA #58B1DA */

/* font-family: 'Bungee Shade', cursive;
font-family: 'Slabo 27px', serif;
font-family: 'Montserrat', sans-serif; */

.App {
  display: flex;
  padding: 3% 1% 1.5%;
  align-items: center;
  background-color: #ebeaea;
  flex-direction: column;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 0 3%;
}

header h1 {
  font-family: "Bungee Shade", cursive;
  font-weight: 400;
}

form {
  background-color: #8a71c0;
  border-radius: 20px;
  border: solid 2px #2d2768;
}

form label {
  font-family: "Montserrat", serif;
  text-transform: uppercase;
}

form label {
  font-size: 1.5rem;
  width: 40%;
  text-align: right;
  margin-right: 2%;
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.button-box button {
  height: 30px;
  width: 145px;
  font-size: 1rem;
  border-radius: 20px;
  font-weight: bold;
  background-color: #58b1da;
}

.button-box button:hover {
  transform: scale(1.15);
}

.button-box button:hover {
  transform: scale(1.15);
}

.button-box button:disabled:hover {
  transform: scale(1);
}

.button-box button:disabled {
  background-color: #ebeaea;
}

.button-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo-box {
  margin-right: 20px;
  width: 100px;
  height: 100px;
  position: relative;
  margin-left: -120px;
}

.chat-logo {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  z-index: 1;
}

.back-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 1%;
  top: 2%;
  width: 2rem;
  height: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(45, 39, 104, 0.33);
  border-radius: 100%;
  text-decoration: none;
  padding: 3%;
}

.back-button span {
  background: none;
  border: none;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

.dash-circle {
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: dashed 2px #3d348b;
  -webkit-animation: rotate-center 10s linear infinite both;
  animation: rotate-center 10s linear infinite both;
}

.not-main header {
  justify-content: flex-start;
  align-items: center;
}

.not-main header .logo-box {
  margin-right: 10px;
  margin-left: 0;
}

.not-main header h1 {
  font-size: 1em;
}

.not-main {
  background-image: url("/assets/back-ground-vec-low-op.svg");
  background-size: 100%;
}

.main-page {
  background-image: url("/assets/back-ground-vec.svg");
  background-size: 270% 270%;
  background-position: bottom;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (max-width: 800px) {
  header * {
    font-size: 5rem;
  }

  header {
    width: 100vw;
  }

  .logo-box {
    margin-left: -20px;
  }
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  header * {
    font-size: 4rem;
  }

  .logo-box {
    margin-left: 0px;
  }
}
