.RoomForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2%;
  width: 40%;
  height: 65%;
  margin: auto;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
}

.RoomForm input {
  font-size: 1.5rem;
}

.RoomForm .button-box {
  height: 8%;
}

.rules-input {
  width: 100%;
}

.rules-input input {
  width: 90%;
  border-radius: 0 0 0 20px;
}

.rules-input button {
  width: 10%;
  font-size: 1.5rem;
  border: 2px solid #ebeaea;
  border-radius: 0 0 20px 0;
}

.rules-head {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  background: white;
  border-radius: 20px 20px 0 0;
}

.rule {
  display: flex;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 1% 0;
}

.rule button {
  width: 25px;
  height: 25px;
  border-radius: 90px;
  border: solid black 1px;
  margin-right: 1rem;
}

.rules-container {
  height: 40%;
  overflow-y: scroll;
  background-color: white;
  padding: 2% 3%;
}

.empty-space {
  height: 1.5rem;
}

#cancel {
  background-color: #fb3640;
}

.RoomForm .cancel:hover {
  transform: scale(1);
}
