body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#root,
main {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Slabo 27px", sans-serif;
  font-weight: normal;
  color: #2d2768;
  letter-spacing: 0.05rem;
}

button {
  cursor: pointer;
  background-color: #ebeaea;
  border: 0;
}

button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}
